/* CSS Grid - Lighthouse Island Bistro*/
/* Mobile */

body.lighthouseislandbistro {
    color: #000000;
    background-color: #00005b;
    font-family: "Times New Roman", serif;
}

/* Grid */
#outerwrapper {
    display: grid;
    grid-template-rows: 1fr 0.5fr auto 0.2fr;
    grid-template-columns: 100%;
}

.lighthouseislandbistro #outerwrapper {
    background-color: #B3c7e6;
}


/* Header */
header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#headerwrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

#lighthouse-header {
    /* order: 1; */
    justify-items: start;
    align-items: center;
}

#lighthouselogo {
    justify-self: end;
    align-self: end;
}

#lighthouselogo img {
    width: 200px;
}

.lighthouseislandbistro header {
    background-color: #869dc7;
    font-size: 1.5em;
    /* overflow: auto; */
}

.lighthouseislandbistro header h1 {
    margin: 30px;
    text-shadow: 2px 5px 10px black;
    letter-spacing: 2px;
}


/* Nav */
.lighthouseislandbistro nav {
    margin-top: 10px;
    background-color: #B3c7e6;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.navwrapper {
    display: grid;
    grid-template-rows: repeat(4, 0.2fr);
    grid-template-columns: 100%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.lighthouseislandbistro nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lighthouseislandbistro nav li {
    background-color: #B3c7e6;
    color: white;
}

.lighthouseislandbistro nav a {
    color: white;
    display: block;
    padding: 25px;
    border-bottom: 2px solid white;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

.lighthouseislandbistro nav a:hover {
    background-color: #eaf7ff;
    color: #e1b5ca;
}


/* Main section */
main {
    background-color: white;
    padding: 20px;
    margin-bottom: 0px;
    /* overflow: auto; */
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#mainwrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
}

#mainimage {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    /* Move image to end */
    order: 1;
    margin: 20px;
}

#maintext {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}


/* Footer */
footer {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.lighthouseislandbistro footer {
    background-color: #869dc7;
    font-size: 0.75em;
    text-align: center;
    margin: 0px;
    border: 0px;
    padding: 5px;
    /* clear: both; */
}

.lighthouseislandbistro h2 {
    color: #9caaca;
}